 h1 { font-size: 150%; padding-top: 30px; padding-bottom: 20px; }
 img { border: none; margin-right: -15px; }
 table th a { font-size: 120%; }
 table tr { text-align: left; }
 table tr th { display: none; }
 table { padding-bottom: 50px; }
 td { padding-right: 25px; }
 pre { text-align: left; }
